* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1{
    font-size: 16px;
    padding: 5px;
    text-shadow: 1px 1px 5px grey;
}

h2{
    font-size: 12px;
    text-shadow: 1px 1px 1px grey;

}
